{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .jago{
        height : 100px;
        margin-left: 155px;
        margin-top: 25px;
    }

    .nala{
        color: #fff;
        background-color: #f36f21;
    }
    .nala:hover{
        color: #f36f21;
        background-color: #837ea3;
    }
</style>

<section class=" bg-image" style="background:#fafafa;">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card mt-5 mb-4" style="border-radius: 15px;">
                        <a href="{% url 'index' %}">
                            <img src=" {% static 'images/alrlogo.png' %} " alt="images" class="jago">
                        </a>
                        <div class="card-body p-5">
                            <h2 class=" text-center mb-4">Forgot Password</h2>
                            <form action="{% url 'forgotPassword' %}" method="post">{% csrf_token %}
                                <div class="form-outline mb-4">
                                    <label>Email</label>
                                    <input type="email" name="email" class="form-control form-control-lg"
                                           placeholder="You Email...." required/>
                                </div>
                                
                                <button type="submit" value="submit" class="btn nala btn-block btn-lg  text-body mt-4">
                                    Submit
                                </button>
                                <p class="text-center text-muted mt-4 mb-0">Don't Have an account?
                                    <a href="{% url 'register' %}" class="fw-bold text-body text-uppercase"><b><u>Create Account</u></b></a>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
